#root {
  height: 100%;
}


.App {
  height: 100%;
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
  pointer-events: none; /* Allow clicks to pass through */
}

*:not(.overlay) {
  /* Your styles here */
  z-index:1;
}

#story-list::-webkit-scrollbar {
  width: 3px;
}

#story-list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

#story-list::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid rgb(65, 65, 65);
}

