.text-input-container {
   margin: 0 auto;
   width: fit-content;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.App {
  height: 100%;
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 1);
}

#story-list::-webkit-scrollbar {
  width: 3px;
}

#story-list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

#story-list::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid rgb(65, 65, 65);
}