#root {
  height: 100%;
}

.App {
  height: 100%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.scroll-list:-webkit-scrollbar {
  width: 3px;
}

/* .scroll-list:-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.scroll-list:-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 1px solid rgb(65, 65, 65);
}

#layout {
  background: #f4f5fc;
  height: 844px;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
